// _variables.scss

// Color Variables
$neon-green: #a4ffaf;
$almost-white: #e6e5ea;
$grey: #817d92;
$red-1: #f64a4a;
$orange-1: #fb7c58;
$yellow-1: #f8cd65;
$very-dark-grey: #18171f;
$dark-grey: #24232c;

// Font Variables
$body-font: "JetBrains Mono", monospace;
$heading-font: "JetBrains Mono", monospace;

// Font Sizes (optional enhancement)
$font-sizes: (
  small: 12px,
  medium: 16px,
  large: 18px,
  xlarge: 24px,
);